.video-row {
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
}

.video-row > img {
    object-fit: contain;
    width: 246px;
    height: 138px;
}

.video-row__text {
    margin-left: 14px;
}

.video-row__title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.video-row__headline {
    font-size: 12px;
    color: #606060;
}

.video-row__description {
    margin-top: 20px;
    font-size: 12px;
    color: #606060;
}

.video-row__subs {
    background-color: lightgray;
    padding: 2px;
}

.video-row__subs-number {
    font-weight: 700;
    color: rgb(84, 157, 211);
}